/* .App {
  text-align: center;
}

.text{
  color: #1e206a;
    font-size: 28px;
    letter-spacing: -.02em;
    line-height: 42px;
    width: 60%;
    margin:20px;
}
/* .ant-image-img{
  display:block;
  height:auto;
  width:60%;
}
Image{
  border-style:none;
  vertical-align: middle;
} */

.img{
    display:flex;
    justify-content: center;
    align-items: center;
  }
  
  .center{
    display: block;
    margin-left: auto;
    margin-right: auto;
  } */
  .App {
    text-align: center;
  }
  
  .text{
    color: #1e206a;
      font-size: 28px;
      letter-spacing: -.02em;
      line-height: 42px;
      width: 60%;
      margin:20px;
  }
  
   /* .password{
    top:282px;
    left:870px;
    right:20;
    bottom:40;
    position:absolute;
    padding:1px;
  } */
  
  
  
  /* .email{
    top:225px;
    left:870px;
    right:20;
    bottom:40;
    position:absolute;
  } */
   
  
  .required::before{
  content:"*";
  color:red;
  }
  
  .img{
    display:flex;
    justify-content: center;
    align-items: center;
    height: auto;
  }